* {
  box-sizing:border-box;
}
body {
  font-family: 'Alegreya Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
}
.page-container {
  background-color: #F4F4F4;
}
.header {
  margin: 2rem;
  padding: 2rem;
  font-size: 24px;
  color: #373737;
  justify-content: center;
}
h3, h4, h5 {
  color: #C0B283;
}
.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #373737;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #C0B283;
}
li a:active {
    background-color: #C0B283;
}
a {
    text-decoration: none;
}
.h2 {
  padding: 1rem;
  margin: 2rem;
}
.article-h3 {
  margin: 4rem;
  font-weight: bolder;
  font-size: 20px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1rem;
}
.box {
  padding: 1rem;
  background-color: #373737;
  color: white;
  font-size: 17px;
  font-weight: 600;
}
.homepage-text {
  margin: 4rem;
  background-color: #F4F4F4;
}
.footer {
  background-color: #373737;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
  color: #F4F4F4;
  list-style-type: none;
}
.contact {
  padding: 1rem;
  color: #F4F4F4;
  list-style-type: none;
}
